<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div> Nota Pembelian</div>
        <table border="1">
            <tr>
                <td>Nama Barang</td>
                <td>Item Barang</td>
                <td>Harga Barang</td>
                <td>Total Harga</td>
                <td>Total</td>
                <td>Diskon</td>
                
            </tr>
            
            <tr>
                <td><p th:text="${name}"></p></td>
                <td><p th:text="${banyak}"></p></td>
                <td><p th:text="${total}"></p></td>
                <td><p th:text="${banyakBelanja}"></p></td>
                <td><p th:text="${totalHarga}"></p></td>
                <td><p th:text="${diskon}"></p></td>
            </tr>
                
            
        </table>
    
        
        
        
        
    
    </body>
</html>
